Package: it.ned.runaway
Name: Runaway
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Show network speed under time (iOS 13, iPhone w/ notch only)
Maintainer: ned
Author: ned
Section: Tweaks
