Package: it.ned.outofsight14
Name: OutOfSight14
Version: 0.0.3
Architecture: iphoneos-arm
Description: Fix various iOS 14 annoyances: system wide black keyboard, hide 'No older notifications' text, hide DND notification, Hide 'Swipe up to open', hide page dots in lockscreen, show battery percentage on notched devices, hide control center grabber in LS, hide camera/flashlight in LS, hide home grabber in LS, hide status bar breadcrumbs, hide text suggestions in spotlight search, disable app library, remove search bar from widgets page, fix Compactor LS time font
Maintainer: ned
Author: ned
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
