Package: it.ned.leghefantacalcio++
Name: LegheFantacalcio++
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Removes ads and unlocks a few premium features in Leghe Fantacalcio
Maintainer: ned
Author: ned
Section: Tweaks
