Package: it.ned.futbin++
Name: Futbin++
Depends: mobilesubstrate
Version: 0.0.3
Architecture: iphoneos-arm
Description: Remove Futbin's annoying ads, enable dark mode
Maintainer: ned
Author: ned
Section: Tweaks
